<head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="dashboard.component.css" />
</head>

<div>
    <div class="container">
        <div id="content" class="snippet-hidden">

            <div id="login-page">
                <div id="formContainer">

                    <input id="openid_submit" type="submit" value="Logg inn" class="fr1">
                    <input id="openid_submit" type="submit" value="Ny bruker" class="fr2">
                    <input id="openid_submit" type="submit" value="Pin kode" class="fr3">
                    <a [routerLink]="['/tests']"><input id="openid_submit" type="submit" value="Demonstrasjon" class="fr4"></a>
                </div>
            </div>
        </div>

    </div>
    <!--
<h1>MemoFrame</h1>
<form [formGroup]="loginForm" (ngSubmit)="Submit()">
    <div class="box">
        <h1>Loginn</h1>
        <input formControlName="email" type="email" name="text-box-1" class="text-box" placeholder="Epost" />
        <br>
        <input formControlName="passord" type="password" name="text-box-2" class="text-box" placeholder="Passord" />
        <br>
        <a [routerLink]="['/Reset']" class="glemt-link">Gjennopprett Passord</a>

        <button class="btn" type="submit" >Loginn</button>
        <a [routerLink]="['/register']" ><div class="btn2">Registrer</div></a>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2>Eller Loginn med:</h2>
        <a class="facebook" href="#">Facebook</a>
        <a class="pin" [routerLink]="['/pincode']">Pin kode</a>
    </div>
    <br>
  
    <a class="facebook" [routerLink]="['/tests']">Demo</a>
</form>
-->    
</div>


